extends layout

block content
  .container
    h1(style="text-align: center;") Pokémon Mixer: Spin the Randomizer
    p #{pokemon}

    form(action="/Generate" method="post" class="form-container")
      label(for="Mega" class="checkbox-label") Allow Mega
      input(type="checkbox" name="Mega" id="Mega" class="checkbox-input" onChange = "updateSliderMaxMega()" checked= Mega)
      br
      label(for="Gmax" class="checkbox-label") Allow Gmax
      input(type="checkbox" name="Gmax" id="Gmax" class="checkbox-input" onChange = "updateSliderMaxGmax()" checked= Gmax)
      br
      label(for="Unbreedable" class="checkbox-label") Allow Unbreedable
      input(type="checkbox" name="Unbreedable" id="Unbreedable" class="checkbox-input" onChange = "updateSliderMaxUnbreedable()" checked= Unbreedable)
      br
      label(for="Basic" class="checkbox-label") Allow evolved
      input(type="checkbox" name="Basic" id="Basic" class="checkbox-input" onChange = "updateSliderMaxEvolved()" checked = Basic)
      br
      label(for="slider" class="range-label") Choose a number of pokemons to generate, max is 
        span#DisplayMax #{sliderMax}
      input(type="range" id="slider" name="slider" min="0" max=sliderMax value=slider class="range-input")
      input(type="number" id="sliderInput" name="sliderInput" min="0" max=sliderMax value=sliderInput class="number-input")
      br
      input(type="number" id="sMax" name="sMax" value=sliderMax hidden)
      input(type="submit" value="Generate Pokemon" class="submit-button")
      
      button(type="button", id="sendButton" class="submit-button") Send Pokemon to team

    script.
      const DisplayMax = document.getElementById("DisplayMax"); 
      const slider = document.getElementById("slider");
      const sliderInput = document.getElementById("sliderInput");
      const sMax = document.getElementById("sMax");

      slider.addEventListener("input", function() {
        sliderInput.value = this.value;
      });

      sliderInput.addEventListener("input", function() {
        if (parseInt(this.value) >= parseInt(slider.getAttribute("min")) && parseInt(this.value) <= parseInt(slider.getAttribute("max"))) {
          slider.value = this.value;
        }
      });

      function updateSliderMaxUnbreedable() {
        let currentMax = parseInt(slider.getAttribute("max"));
        const checkbox = document.getElementById("Unbreedable");
        if (checkbox.checked) {
          currentMax += 31;
        } else {
          currentMax -= 31
        }
        sMax.value = currentMax;
        DisplayMax.textContent = currentMax;
        slider.setAttribute('max', currentMax);
        sliderInput.setAttribute('max', currentMax);
        if (parseInt(slider.value) > currentMax || parseInt(sliderInput.value) > currentMax) {
          slider.value = currentMax;
          sliderInput.value = currentMax;
        }
      };

      function updateSliderMaxMega() {
        let currentMax = parseInt(slider.getAttribute("max"));
        const checkbox = document.getElementById("Mega");
        if (checkbox.checked) {
          currentMax += 20;
        } else {
          currentMax -= 20;
        }
        sMax.value = currentMax;
        DisplayMax.textContent = currentMax;
        slider.setAttribute('max', currentMax);
        sliderInput.setAttribute('max', currentMax);
        if (parseInt(slider.value) > currentMax || parseInt(sliderInput.value) > currentMax) {
          slider.value = currentMax;
          sliderInput.value = currentMax;
        }
      };
      function updateSliderMaxGmax() {
        let currentMax = parseInt(slider.getAttribute("max"));
        const checkbox = document.getElementById("Gmax");
        if (checkbox.checked) {
          currentMax += 15;
        } else {
          currentMax -= 15; 
        }
        sMax.value = currentMax;
        DisplayMax.textContent = currentMax;
        slider.setAttribute('max', currentMax);
        sliderInput.setAttribute('max', currentMax);
        if (parseInt(slider.value) > currentMax || parseInt(sliderInput.value) > currentMax) {
          slider.value = currentMax;
          sliderInput.value = currentMax;
        }
      };
      function updateSliderMaxEvolved() {
        let currentMax = parseInt(slider.getAttribute("max"));
        const checkbox = document.getElementById("Basic");
        if (checkbox.checked) {
          currentMax += 249;
        } else {
          currentMax -= 249;
        }
        sMax.value = currentMax;
        DisplayMax.textContent = currentMax;
        slider.setAttribute('max', currentMax);
        sliderInput.setAttribute('max', currentMax);
        if (parseInt(slider.value) > currentMax || parseInt(sliderInput.value) > currentMax) {
          slider.value = currentMax;
          sliderInput.value = currentMax;
        }
        };
      document.getElementById('sendButton').addEventListener('click', function() {
        
        // Get the PokemonList variable from the Pug template
        const pokemonList = !{JSON.stringify(pokemonList)};
        // Create a new FormData object
        const formData = new FormData();

        // Append the 'pokemonList' variable to the FormData object directly (without JSON.stringify)
        formData.append('pokemonList', JSON.stringify(pokemonList));

        for (let pair of formData.entries()) {
        console.log(pair[0] + ', ' + pair[1]);
          }
        // Make a POST request using Fetch API
        fetch('/generateToBox', {
          method: 'POST',
          body: formData
        })
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.text(); // Change this based on your response format
        })
        .then(data => {
          console.log('Response:'); // Log or handle the response from the server
        })
        .catch(error => {
          console.error('Error:', error);
        });
        });  

  div.grid-container
    each pokemon in pokemonList
      div.grid-row 
        div.grid-item
          p #{pokemon.Pokemonid}
          p #{pokemon.Type}
          img(src=`/sprites/${pokemon.Pokemonid}.png`, alt=`${pokemon.Pokemonid}`)
