extends layout

block content
  h1= title
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js') 
  link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
  script(src='/scripts/drag.js')
  script.
    $(document).ready(function(){
      var pokemonList = !{JSON.stringify(pokemonList)};
      $('#searchBar').autocomplete({
        source: pokemonList.map(pokemon => pokemon.Type),
        minLength: 1,
      });

      $('#pokemonForm').submit(function(e) {
        e.preventDefault();
        var selectedPokemonName = $('#searchBar').val();
        var selectedPokemon = pokemonList.find(pokemon => pokemon.Type === selectedPokemonName);

        console.log('Selected Pokemon:', selectedPokemon);

        // Check if a matching Pokémon was found
        if (selectedPokemon) {
          // Move the selected Pokemon to the box
          $('#box').append(`
            <div class="pokemon" data-pokemonid="${selectedPokemon.Pokemonid}" draggable="true">
              <p class="small-font">${selectedPokemon.Type}</p>
              <img src="/sprites/${selectedPokemon.Pokemonid}.png">
            </div>
          `);

          // Send data to the server
          $.ajax({
            type: 'POST',
            url: '/myTeamSearchBar',
            data: {
              pokemonId: selectedPokemon.Pokemonid,
              location: 'box' 
            },
            success: function(response) {
              window.location.reload();
            },
            error: function(error) {
              console.error('Server error:', error);
            }
          });

        } else {
          console.error('Pokemon not found:', selectedPokemonName);
        }
      });
    })
  div(style='position: fixed; bottom: 22%; left: 25%; width: 50%; text-align: center;')
  h1 Add new pokemon
  form#pokemonForm.centered-form(method='POST' action='/myTeamSearchBar')
    input#searchBar(type='text', name='pokemonSearch', placeholder='Search...')
    button#submitBtn(type='submit') Add pokemon

  div(style='position: absolute; top: 0; left: 40px; text-align: center; width: calc(25% - 80px);')
    h2 Box
  #box(class='pokemon-box' data-location='box')
    each pokemon in boxPokemons
      .pokemon(data-pokemonid=pokemon.Pokemonid, draggable="true")
        p.small-font= pokemon.Nickname
        img(src=`/sprites/${pokemon.Pokemonid}.png`)
         
  div(style='position: fixed; bottom: 22%; left: 25%; width: 50%; text-align: center;')
    h2 Team 
  #team(class='pokemon-box' data-location='team')
    each pokemon in teamPokemons
      .pokemon(data-pokemonid=pokemon.Pokemonid, draggable="true")
        p.small-font= pokemon.Nickname 
        img(src=`/sprites/${pokemon.Pokemonid}.png`)  
        
  div(style='position: absolute; top: 0; right: 40px; text-align: center; width: calc(25% - 80px);')
    h2 Graveyard
  #graveyard(class='pokemon-box' data-location='graveyard')
    each pokemon in graveyardPokemons
      .pokemon(data-pokemonid=pokemon.Pokemonid, draggable="true")  
        p.small-font= pokemon.Nickname 
        img(src=`/sprites/${pokemon.Pokemonid}.png`)