extends layout

block content
  h1= title
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js') 
  link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
  script(src='/scripts/drag.js')

  script.
    $(document).ready(function(){
      var pokemonList = !{JSON.stringify(pokemonList)};
      $('#searchBar').autocomplete({
        source: pokemonList.map(pokemon => pokemon.Type),
        minLength: 1,
      });

      $('#pokemonForm').submit(function(e) {
        e.preventDefault();
        var selectedPokemonName = $('#searchBar').val();
        var selectedPokemon = pokemonList.find(pokemon => pokemon.Type === selectedPokemonName);

        console.log('Selected Pokemon:', selectedPokemon);

        // Check if a matching Pokémon was found
        if (selectedPokemon) {
          // Move the selected Pokemon to the box
          $('#box').append(`
            <div class="pokemon" data-pokemonid="${selectedPokemon.Pokemonid}" draggable="true">
              <p class="small-font">${selectedPokemon.Type}</p>
              <img src="/sprites/${selectedPokemon.Pokemonid}.png">
            </div>
          `);
        } else {
          console.error('Pokemon not found:', selectedPokemonName);
        }
      });
    });
  h1 Pokémon Search
  form#pokemonForm.centered-form(method='POST' action='/selectedPokemon')
    label(for='searchBar') Search Pokémon:
    input#searchBar(type='text', name='pokemonSearch', placeholder='Search...')
    button(type='submit') Submit

  h2 Box
  #box(class='pokemon-box' data-location='box')
    h2 Box
    each pokemon in boxPokemons
      .pokemon(data-pokemonid=pokemon.Pokemonid, draggable="true")
        p.small-font= pokemon.Nickname
        img(src=`/sprites/${pokemon.Pokemonid}.png`)

  
  #team(class='pokemon-box' data-location='team')
    h2 Team
    each pokemon in teamPokemons
      .pokemon(data-pokemonid=pokemon.Pokemonid, draggable="true")
        p.small-font= pokemon.Nickname 
        img(src=`/sprites/${pokemon.Pokemonid}.png`)

  
  #graveyard(class='pokemon-box' data-location='graveyard')
    h2 Graveyard
    each pokemon in graveyardPokemons
      .pokemon(data-pokemonid=pokemon.Pokemonid, draggable="true")
        p.small-font= pokemon.Nickname 
        img(src=`/sprites/${pokemon.Pokemonid}.png`)
